@charset "UTF-8";

/*헤더 시작*/
#logo { font-size:0; line-height:0; width:156px; height:64px; float:left; }
#logo a{ display:block; height:64px; text-indent: -4000px; background:url(../css/images/LOGO_156_64_3.png); background-color:#ccc;}
.shell { width: 1400px; height: 100%; margin:0 auto; padding:10px; background:#fff; }
#header {background: url(../css/images/back.jpg); height: 64px; position: relative; color: #000; }
/* nav-menu는 최상단 헤더 메뉴*/
.nav-menu-right {list-style-type: none;height: 64px;font-weight: bold;display: inline-block;vertical-align: middle;margin: 0;padding: 0;text-align: center; }
.nav-menu li,
.nav-menu-right li {display: inline;margin: 0;text-align: center; font-family: 'GangwonEduPowerExtraBoldA'; font-size: 21px;}
.nav-menu a,
.nav-menu-right a {height: 64px;line-height: 64px;text-decoration: none;padding: 0 15px; font-family: 'GangwonEduPowerExtraBoldA'; font-size: 15px;}
.nav-menu a:hover,
.nav-menu-right a:hover {background: bisque}
.nav-menu-right {float: right;}

#main{
    width: 1400px;
    margin: 0 auto;
    padding-bottom: 100px;
    display: inline;
    margin-top: 100px;
}

.content{
    width: 100%;
    text-align: center;
}

.h1{
    font-family: 'GangwonEduPowerExtraBoldA';
    font-size: 36px;
    text-align: center;
    margin: 65px 55px 65px 55px;
}

table{
    width: 1000px;
    margin: 0 auto;
    text-align: center;
}

td{
    font-family: 'NanumSquareNeo-Variable';
    width: 50%;
    padding: 20px;
    text-align: center;
}

.userInfo{
    width: 430px;
    height: 37px;
}

.btn_pur{
    font-family: 'NanumSquareNeo-Variable';
    background-color: #ebddcc;
    color: rgb(66, 66, 66);
    border: 1px solid #ebddcc;
    padding: 10px 80px;
    margin-top: 35px;
    text-align: center;
}

.btn_pur:hover{
    cursor: pointer;
}

p{
    font-family: 'NanumSquareNeo-Variable';
    font-size: 14px;
    padding: 10px;
}
