<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link media="all" rel="stylesheet" th:href="@{/css/main.css}" type="text/css"/>
    <link media="all" rel="stylesheet" th:href="@{/css/side_btn.css}" type="text/css"/>
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/boardDelete.css" />
    <link rel="stylesheet" href="/css/font.css" />
</head>

<body>
<div class="shell">
    <div id="header">
        <h1 id="logo"><a href="/"></a></h1>

        <ul class="nav-menu-right">
            <li th:if="${session.userID == null}"><a href="login.html">로그인</a></li>
            <li th:if="${session.userID == null}"><a href="register.html">회원가입</a></li>
            <li th:if="${session.userID != null}"><a th:text="'사용자: ' + ${session.userName}"></a></li>
            <li th:if="${session.userID != null && !session.userID.equals('admin')}"><a href="mypage.html">마이페이지</a>
            </li>
            <li th:if="${session.userID != null && !session.userID.equals('admin')}"><a
                    href="itemBasket.html">장바구니</a></li>
            <li th:if="${session.userID != null && session.userID.equals('admin')}"><a href="management">상품관리</a>
            </li>
            <li th:if="${session.userID != null}"><a href="userLogout.html">로그아웃</a></li>
            <li><a href="service_center">고객센터</a></li>
        </ul>


        <div class="nav-menu">
            <a href="#"><img alt="남자" src="/css/images/man.jpg"></a>
            <a href="#"><img alt="여자" src="/css/images/woman.jpg"></a>
        </div>
    </div>
</div>
<div class="all">
    <form method="post" action="/boardDeleteCheck">
        <input type="text" name="boardID" class="boardID" th:value="${boardID}">
        <input type="text" name="boardName" class="boardName" th:value="${boardName}">
        <input th:if="${!session.userID.equals('admin')}" type="text" name="userPassword" class="userPassword" placeholder="비밀번호 입력">
        <input th:if="${session.userID.equals('admin')}" name="userPassword" class="userPassword" placeholder="관리자 입력">

    <div class="btn_box">
        <input type="submit" value="삭제" class="delete"><input type="button" value="취소" onclick="window.history.back()" class="reset">
    </div>
    </form>
</div>
</body>

</html>