<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>HCLY</title>
	<link rel="stylesheet" href="/css/itemBasket.css" type="text/css" media="all" />
	<link rel="stylesheet" href="/css/font.css" />
	<link media="all" rel="stylesheet" th:href="@{/css/main.css}" type="text/css" />
	<link media="all" rel="stylesheet" th:href="@{/css/side_btn.css}" type="text/css" />
</head>

<body>
<div class="shell">
	<div id="header">
		<h1 id="logo"><a href="/"></a></h1>

		<ul class="nav-menu-right">
			<li th:if="${session.userID == null}"><a href="login.html">로그인</a></li>
			<li th:if="${session.userID == null}"><a href="register.html">회원가입</a></li>
			<li th:if="${session.userID != null}"><a th:text="'사용자: ' + ${session.userName}"></a></li>
			<li th:if="${session.userID != null && !session.userID.equals('admin')}"><a href="mypage.html">마이페이지</a>
			</li>
			<li th:if="${session.userID != null && !session.userID.equals('admin')}"><a
					href="itemBasket.html">장바구니</a></li>
			<li th:if="${session.userID != null && session.userID.equals('admin')}"><a href="management">상품관리</a>
			</li>
			<li th:if="${session.userID != null}"><a href="userLogout.html">로그아웃</a></li>
			<li><a href="service_center">고객센터</a></li>
		</ul>

		<div class="nav-menu">
			<a href="#"><img alt="남자" src="/css/images/man.jpg"></a>
			<a href="#"><img alt="여자" src="/css/images/woman.jpg"></a>
		</div>
	</div>
</div>

<div id="main">
	<h1 class="h1">리스트</h1>
	<div class="content">
		<div th:if="${!basitemList.isEmpty()}">
			<div th:each="basItem : ${basitemList}">
				<form method="post" action="/PayCheck">
					<input type="hidden" name="itemID" th:value="${basItem.getItemID()}">
					<table>
						<tr>
							<td>이름</td>
							<td><input type="text" name="itemName" th:value="${basItem.getItemName()}" readonly class="userInfo">
							</td>
						</tr>
						<tr>
							<td>가격</td>
							<td><input type="text" name="itemAmount" th:value="${basItem.getItemAmount()}" readonly class="userInfo">
							</td>
						</tr>
						<tr>
							<td>종류</td>
							<td><input type="text" name="itemType" th:value="${basItem.getItemType()}" readonly class="userInfo">
							</td>
						</tr>
						<tr>
							<td>구매개수</td>
							<td><input type="text" name="buyCount" value="1" readonly class="userInfo"></td>
						</tr>
						<tr>
							<td>최종가격</td>
							<td><input type="text" name="totalAmount"
									   th:value="${basItem.getItemAmount() * basItem.getItemCount()}" readonly class="userInfo"></td>

						</tr>
					</table>
					<button type="submit" class="btn_pur">구매하기</button>
				</form>
			</div>
		</div>
		<div th:if="${basketList.isEmpty()}">
			<p>장바구니가 비어있습니다
				추후 이동 기능 추가 필요
			</p>
		</div>
	</div>
</div>

<script>
</script>
<script src="js/action.js"></script>
</body>

</html>