<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ungstore</title>
    <link rel="stylesheet" type="text/css" th:href="@{css/login.css}">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
</head>
<body>
    
        <div class = "login_wrapper">
            <div class="login_logo">Ungstore</div>
            <form class="login_form" method="post" action="/login">
                <input id="LOGIN_ID" class = "login_text" type="text" name="userID" placeholder="이메일을 입력하시오">
                <input  id="LOGIN_PW" class = "login_text" type="password" name="userPassword" placeholder="비밀번호를 입력하시오">
                <button id="LOGIN_BTN" class = "login_btn" type="submit" disabled>로그인</button>
            </form>
            <a class = "login_bottom" href="" >비밀번호 찾기</a>
        </div>
        <a th:text="${message}"></a>
        <script type="module" th:src="@{js/login.js}"></script>
</body>